<!DOCTYPE html>
<html>
  <header>
    <meta charset="utf-8">
    <meta name="portfolio" content="width=device-width, initial-scale=1.0">
    <title>Multi-user blog</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans"
    rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </header>

  <body body background="images/Geo_background.jpg">
      <!--Page Content -->
      <div class="container">
          <!-- Header section -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-1">
                        <div class="navbar-header">
                            <a href="/"><h3>Multi-User-Blog</h3></a>
                        </div>
                        <ul>
                            {% if not user %}
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">Register</a></li>
                            {% elif user %}
                                <li><a href="/asciichan2/newpost">New Post</a></li>
                                <li><a href="/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
          </nav>

          <!--Content section -->
          <section id="content">
                {% block content %}
                {% endblock %}
          </section>

          <hr>

          <!-- FOOTER -->
        <footer id="footer" class="col-md-12 text-bottom ">
            <div class="col-xs-12">
                <div class="col-md-offset-4">by Samuel Mejia</div>
                <ul class="col-md-offset-4">
                    <div >GitHub</a></li></div>
                    <li>Version 2016.21</li>
                    <li>Made with Code and bootstrap.</li>
                    <li>Background image: N/A</li>
                </ul>
            </div>
        </footer>
      </div>
  </body>
</html>

