{% extends "base.html" %}
{% block content %}

{% if flag %}
<h2 class="post-title">Edit Post</h2>
Last modified {{post.last_modified.strftime("%b %d, %Y %H:%M %p")}}
<hr/>
<form method="post">
  <div class="row">
    <div class="col-md-12">
      <label>Subject *</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input name="subject" type="text" value="{{post.subject}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <label>Content *</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <textarea name="content">{{post.content}}</textarea>
      <br><br>
      {% if error %}
      <div class="alert alert-danger" role="alert">{{error}}</div>
      {% endif %}
    </div>
  </div>
    <div class="row">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <div class="col-md-4">
          <button type="submit" name="update" value="Update" class="btn btn-default">Update</button>
          </div>
          <div class="col-md-4">
          <button type="submit" name="cancel" value="Cancel" class="btn btn-default">Cancel</button>
          </div>
          </div>
        </div>
    <br>
  * Required fields
</form>
{% endif %}

{% if not flag %}
<div class="alert alert-danger" role="alert">You cannot modify this post, <a href="
/asciichan2/postandcomments/{{post.key().id()}}">click here to return</a></div>
{% endif %}

{% endblock %}