{% extends "base.html" %}

<!DOCTYPE html>

<html>
  <header>
  <meta charset="utf-8">
  <meta name="portfolio" content="width=device-width, initial-scale=1.0">
  <title>portfolio website</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans"
  rel="stylesheet" type="text/css">
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <title>/ascii/</title>
  </header>
    

  <body>
  <h1>/ascii/</h1>
  <form action="login-form.html">
    <input type="logout">
  </form>

  <form method="post">
      <label>
          <div>title</div>
          <input type="text" name="title" value="{{title}}">
      </label>

      <label>
          <div>art</div>
          <textarea name="art">{{art}}</textarea>
      </label>

      <div class="error">{{error}}<div>

      <input type="submit">
  </form>

  <hr>

  {% for art in arts%}
    <div class="art">
      <div class="art-title">{{art.title}}</div>
      <pre class="art-body">{{art.art}}</pre>
    </div>
  {% endfor %}
  </body>


</html>
